/*清浮*/
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{display: inline-block;} /* for IE/Mac */

.bd_DW {
    margin: 15px;
    padding: 15px;
    font-size: 14px;
}
.bd_DW .bd_hr {
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    color:#987cb9;
    border-width:2px;
}
.bd_DW .bd_crumbs {
    background-color: #fff;
    padding: 10px 10px 10px 20px;
    line-height: 1.42857;
}
.bd_DW .bd_crumbs_split {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #858585;
}
.bd_DW .bd_crumbs_item {
    color: #59595a;
    font-weight:700;
}
.bd_DW .bd_crumbs_item_1 {
    color: #59595a;
    font-weight:700;
    margin-left:40px;
}
.bd_DW .bd_DW_input {
    width: 200px;
    height: 35px;
    padding-right:30px;
}
.bd_DW .bd_DW_button {
    color: #fff;
    width: 70px;
    height: 33px;
    margin-left: 10px;
}
.bd_DW .bd_first_postion {
    background-color: #fff;
    padding-top: 5px;
}
.bd_DW .bd_tl_postion {
    width: 85%;
    text-align: center;
    background-color: #fff;
    padding-top: 5px;
}
.bd_DW .bd_first_postion_1 {
    background-color: #fff;
    padding: 5px;
    border-style:solid;
    border-width:2px;
    border-color:#ecf0f5;
    margin-bottom:30px;
}
.bd_DW .bd_input_postion {
    margin: 10px;
}
.bd_DW .bd_field_config_block {
    margin-top:10px;
}
.bd_DW .bd_field_config_block_none {
    margin-top:10px;
    display:none;
}
.bd_DW .bd_field_span_1 {
    width:3%;
    display: inline-block;
    vertical-align:top;
    font-size:17px;
    color:#ff0000;
    padding-top:5px;
}
.bd_DW .bd_field_span_2 {
    width:20%;
    margin-left:5px;
    display: inline-block;
    vertical-align:top;
}
.bd_DW .bd_field_span_3 {
    width:75%;
    display: inline-block;
    vertical-align:top;
    padding-top:5px;
}
.bd_DW .bd_field_span_4 {
    width:16%;
    display: inline-block;
    vertical-align:top;
}
.bd_DW .bd_field_span_5 {
    display: inline-block;
    vertical-align:top;
    font-size:17px;
    color:#ff0000;
    padding-top:10px;
    margin-right:5px;
}
.bd_DW .bd_DW_relation_block {
    margin-bottom:5px;
}
#bd_DW_submit_block{
    text-align: center;
}
.bd_DW .bd_DW_submit_button, .bd_DW .bd_DW_test_button{
    color: #fff;
    width: 100px;
    height: 40px;
    font-size:20px;
    margin-bottom: 30px;
    border: none;
    /*font-family: "SimSun";*/
    margin-top: 20px;
}
.bd_DW .bd_DW_test_button{
    margin-right: 20px;
}
.bd_DW .bd_DW_p_bottom {
    margin-bottom:0;
}
.bd_DW .bd_DW_field_type {
    width:70px;
    display:inline;
}
.bd_DW .bd_DW_checkbox_left {
    margin-left:5px;
}
.bd_DW .bd_DW_notification_block {
    margin-top:10px;
}
.bd_DW .bd_DW_input_len_50 {
    width:50px;
    height:30px;
}
.bd_DW .bd_DW_input_len_30 {
    width:30px;
    height:30px;
}
.bd_DW .bd_DW_input_len_70 {
    width:70px;
    height:30px;
}
.bd_DW .bd_DW_input_len_100 {
    width:100px;
    height:30px;
}
.bd_DW .bd_DW_input_len_150 {
    width:150px;
    height:30px;
}
.bd_DW .bd_DW_input_len_200 {
    width:200px;
    height:30px;
}
.bd_DW .bd_DW_input_len_300 {
    width:300px;
    height:30px;
    /*color:#999999;*/
}
.bd_DW .bd_DW_input_len_280 {
    width:280px;
    height:30px;
    /*color:#999999;*/
}
.bd_DW .bd_DW_input_len_350 {
    width:350px;
    height:30px;
    /*color:#999999;*/
}
.bd_DW .bd_DW_input_len_400 {
    width:400px;
    height:30px;
    /*color:#999999;*/
}
.bd_DW .bd_DW_input_len_600 {
    width:400px;
    height:30px;
    /*color:#999999;*/
}
.bd_DW .bd_DW_union_key {
    width:600px;
    height:30px;
    /*color:#999999;*/
}
.bd_DW .bd_field_delete_block {
    margin-top:20px;
    padding: 10px;
    border-style:solid;
    border-width:2px;
    border-color:#ecf0f5;
}
.bd_DW .bd_DW_delete_field {
    width:10%;
    display: inline-block;
    vertical-align:top;
}
.bd_DW .bd_field_delete_item {
    width:23%;
    display: inline-block;
    vertical-align:top;
    margin-top:10px;
}
.bd_DW .bd_field_delete_item_none {
    width:23%;
    display: inline-block;
    vertical-align:top;
    margin-top:10px;
    display:none;
}
.bd_DW .bd_field_delete_1 {
    width:10%;
    display: inline-block;
    vertical-align:top;
    font-size:17px;
    color:#00ff00;
    padding-top:5px;
}
.bd_DW .bd_field_delete_2 {
    width:85%;
    display: inline-block;
    vertical-align:top;
}
.bd_DW_check_result {
    background-color:#fff;
    border:0px;
    white-space: pre-wrap;
}
.bd_DW .bd_DW_monitor_type {
    width:70px;
    display:inline;
    height:30px;
}
.bd_DW_monitor_type_95 {
    width:200px;
    display:inline;
    height:30px;
}
.bd_DW_monitor_type_100 {
    width:200px;
    display:inline;
    height:30px;
}
.bd_DW .bd_DW_field_operator {
    width:50px;
    height:30px;
    display:inline;
    height:35px;
    font-size:15px;
    margin-left:5px;
    margin-right:5px;
}
.bd_DW .bd_DW_rule_add_type {
    width:100px;
    display:inline;
    height:35px;
}
.bd_DW .bd_table_conf_block {
    margin-top: 15px;
}
.bd_DW .bd_rule_listt_block {
    margin-top: 20px;
}
.bd_DW .bd_DW_result_table {
}
.bd_DW .bd_DW_result_table th {
    background-color:#eeeeee;
}
.bd_DW .bd_DW_result_table td:first-child {
    width:150px;
}
.bd_DW .bd_DW_task_table {
    word-wrap:break-word;
    word-break:break-all;
    font-size:13px;
}
.bd_DW .bd_DW_task_table th {
    font-weight:bold;
    font-size:15px;
    background-color:#eeeeee;
}
.bd_DW .bd_DW_task_table td:first-child {
    width:100px;
}
.bd_DW .bd_DW_task_table td:nth-child(2) {
    width:130px;
}
.bd_DW .bd_DW_task_table td:nth-child(3) {
    width:150px;
}
.bd_DW .bd_DW_task_table td:nth-child(4) {
    width:150px;
}
.bd_DW .bd_DW_task_table td:nth-child(5) {
    width:180px;
}
.bd_DW .bd_DW_task_table td:nth-child(6) {
    width:80px;
}
.bd_DW .bd_DW_task_table td:nth-child(7) {
    width:80px;
}
.bd_DW .bd_DW_task_status_suc {
    color:#fff;
    text-align:center;
    background-color:rgba(0, 170, 0, 0.71);
    border-radius:15px;
    height:30px;
    width:80px;
    padding-top:5px;
}
.bd_DW .bd_DW_task_status_fail {
    color:#fff;
    text-align:center;
    background-color:rgba(204, 0, 0, 0.74);
    border-radius:15px;
    height:30px;
    width:80px;
    padding-top:5px;
}
.bd_DW .bd_DW_task_status_wait {
    color:#fff;
    text-align:center;
    background-color:#dddd00;
    border-radius:15px;
    height:30px;
    width:80px;
    padding-top:5px;
}
.bd_DW .bd_DW_task_status_do {
    color:#fff;
    text-align:center;
    background-color:#33ff99;
    border-radius:15px;
    height:30px;
    width:80px;
    padding-top:5px;
}
.bd_DW .bd_DW_task_result_suc {
    color:#fff;
    text-align:center;
    background-color:rgba(0, 170, 0, 0.71);
    border-radius:15px;
    height:30px;
    width:80px;
    padding-top:5px;
    cursor:pointer;
}
.bd_DW .bd_DW_task_result_fail {
    color:#fff;
    text-align:center;
    background-color:rgba(204, 0, 0, 0.74);
    border-radius:15px;
    height:30px;
    width:80px;
    padding-top:5px;
    cursor:pointer;
}
.bd_DW .bd_DW_page {
    position:relative;
    margin-left:180px;
    padding-bottom: 30px;
}
.bd_DW .bd_DW_timeliness_block_1 {
    display: inline-block;
    vertical-align:top;
}
.bd_DW .bd_DW_timeliness_block_2 {
    width: 100%;
    text-align:center;
    display: inline-block;
    margin-top: 10px;
    vertical-align:top;
}
.bd_DW .bd_DW_checkbox_left_10 {
    margin-left:10px;
}
.bd_DW .bd_DW_timeliness_config_line {
    margin-bottom:20px;
}
.bd_DW .bd_DW_timeliness_table {
    margin-top:30px;
    word-wrap:break-word;
    word-break:break-all;
    font-size:13px;
}
.bd_DW .bd_DW_timeliness_table th {
    font-weight:bold;
    font-size:15px;
    background-color:#eeeeee;
}
.default-select{
    width: 150px;
    height: 30px;
    margin-right: 40px;
}

.long-select{
    width: 500px;
    height: 30px;
    margin-right: 40px;
}

.long-select-timeliness-config{
    width: 300px;
    height: 30px;
    margin-right: 40px;
}

.bd_DW .bd_DW_timeliness_table td:first-child {
    width:300px;
}
.bd_DW .bd_DW_timeliness_table td:nth-child(2) {
    width:100px;
}
.bd_DW .bd_DW_timeliness_table td:nth-child(3) {
    width:80px;
}
.bd_DW .bd_DW_timeliness_table td:nth-child(4) {
    width:80px;
}
.bd_DW .bd_DW_timeliness_table td:nth-child(5) {
    width:150px;
}
.bd_DW .bd_DW_timeliness_table td:nth-child(6) {
    width:100px;
}
.bd_DW .bd_DW_timeliness_table td:nth-child(7) {
    width:80px;
}
.bd_DW .bd_DW_timeliness_static {
    margin-top: 20px;
}
.bd_DW .bd_DW_task_status_no {
    font-size:16px;
    padding:5px 10px;
}
.bd_DW .bd_DW_task_status_start {
    font-size:16px;
    padding:5px 10px;
    background-color:#00ff00;
    color:#ffffff;
    border-radius:5px;
}
.bd_DW .bd_DW_task_status_stop {
    font-size:16px;
    padding:5px 10px;
    background-color:#ff0000;
    color:#ffffff;
    border-radius:5px;
}
.bd_DW .bd_DW_task_status_margin {
    margin-right:15px;
}
.bd_DW_task_detail{
    color: #fff;
    background-color: #B0B0AC;
    border-color: #B0B0A5;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding: 0 13px;
    font-size: 15px;
    line-height: 35px;
    height: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 5px;
}
.bd_DW .bd_DW_path_hidden {
    background-color:lightyellow;
    width:350px;
    height:30px;
}

input:focus {
    outline:none;
    border:orange 1px solid;
    background-color:lightyellow;
}

select:focus {
    border:1px solid orange;
    background-color:lightyellow;
}

.bg-green {
    background: #1ABB9C !important;
    border: 0 solid #1ABB9C !important;
    color: #fff;
}
.bg-red {
    background: #E74C3C !important;
    border: 0 solid #E74C3C !important;
    color: #fff;
}

.bg-blue {
    background: #2c9ae7 !important;
    border: 0 solid #2c9ae7 !important;
    color: #fff;
}

@media (max-width: 1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px;
    }
    .tile, .graph {
        zoom: 85%;
        height: inherit;
    }
}
@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none
    }
}
/**改版公用样式*/
.adjust-position-style{
    margin-bottom: 3px;
}
.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
.x_title .filter {
    width: 40%;
    float: right;
}
.x_title .title_h4 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.x_title .title_h4 small {
    margin-left: 10px;
}
.x_title span {
    color: #BDBDBD;
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 90%;
    float: left;
    clear: both;
    margin-top: 25px;
}
.x_content h4 {
    font-size: 16px;
    font-weight: 500;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

/*alarm-group css*/
.search-btn, .add-btn
{
    float: right;
    margin-right: -15px;
}
.add-alarm-btn{
    margin-bottom: 10px;
    margin-right: 2px;
    float: right;
}
#alarm_group_table_wrapper{
    margin-top: 25px;
}
.dataTables_length{
    margin: 10px 0;
}
.paging_simple_numbers{
    margin-top: 20px;
}
.block-title{
    border-left: 4px solid #f6871b;
    padding-left: 10px;
    margin-bottom: 20px;
}
.padding-bottom-30{
    padding-bottom: 30px;
}
.J_edit, .J_editBtn{
    margin-right: 10px;
}

/*hive-monitor css*/
.tip-error{
    color: red;
    margin-left: 15px;
}
.radio-style{
    display: inline-block;
}
.add-hive-btn{
    margin-bottom: 15px;
}
/*.J_search {*/
/*margin-right: -15px;*/
/*}*/
.margin-right-10{
    margin-right: 10px;
}
.key-link{
    color: dodgerblue;
}
.key-link:hover{
    font-weight: bold;
}
.time-block{
    padding-right: 0;
}
.time-input{
    width: 20px;
    height: 36px;
    border: 1px solid #e2e3e5;
    border-radius: 0;
    color: #636363;
    background-color: #fcfcfc;
    box-shadow: none;
}
.time-select{
    width: 69px;
    display: inline-block;
    height: 36px;
    border: 1px solid #e2e3e5;
    border-radius: 0;
    color: #636363;
    background-color: #fcfcfc;
    box-shadow: none;
}
.re-input-style{
    height: 36px;
    /*width: 220px;*/
    padding: 12px;
    font-size: 12px;
    border: 1px solid #e2e3e5;
    border-radius: 0;
    outline: none;
    color: #636363;
    background-color: #fcfcfc;
    box-shadow: none;
}
.compare-standard{
    height: 36px;
    width: 30px;
    padding: 0;
    font-size: 12px;
    border: 1px solid #e2e3e5;
    border-radius: 0;
    outline: none;
    color: #636363;
    background-color: #fcfcfc;
    box-shadow: none;
}
.buffer-time{
    height: 36px;
    width: 50px;
    padding: 12px;
    font-size: 12px;
    border: 1px solid #e2e3e5;
    border-radius: 0;
    outline: none;
    color: #636363;
    background-color: #fcfcfc;
    box-shadow: none;
}
.time-input:focus,.time-select:focus,.select-common-style:focus,
.time-input:focus, .buffer-time:focus,.compare-standard:focus,
.re-input-style:focus
{
    border: 1px solid orange;
    background: none;
}
/*hive-history css*/
#hive_result_task_table pre{
    background: none;
    border:none;
}
/*规则检查新需求：设置枚举*/
.set-enum{
    display: none;
}
.J_enumSetContainer{
    width: 700px;
    min-height: 100px;
    padding: 10px;
    background: #fcfcfc;
    border: #d6d5d4 1px solid;
    margin-top: 10px;
}
.add-select-num{
    /* background: #FC8A15; */
    /* font-weight: bold; */
    font-size: 20px;
    /* padding: 5px; */
    /* border-radius: 29px; */
    color: #FC8A15;
    cursor: pointer;

}
.enum-set-tab{
    display: inline-block;
    padding: 8px 5px 8px 10px;
    margin: 2px;
    position: relative;
    line-height: 13px;
    color: #FC8A15;
    cursor: default;
    border: 1px solid #FC8A15;
    background-clip: padding-box;

}
.J_delEnumBtn{
    padding-left: 5px;
    font-size: 16px;
    cursor: pointer;
}
.J_delEnumBtn:hover{
    color: red;
}
.tip{
    color: red;
}
.select-style{
    padding: 0 0 0 12px;
    height: 30px;
    font-size: 12px;
    /*border: 1px solid #e2e3e5;*/
    border-radius: 0;
    outline: none;
    color: #636363;
    /*background-color: #fcfcfc;*/
    box-shadow: none;
}
.len-300{
    width: 300px;
}

/*规则检查新需求：设置业务规则*/
.rule-list-style{
    margin-top: 15px;
}
.hidden{
    display: none;
}
.no-content-tip{
    margin-left: 80px;

}
.J_repeatTip{
    color: red;
    margin-left: 15px;
}
.checkboxItem {
    margin-right: 15px;
    position: relative;
}
.checkboxItem input{
    margin-right: 10px;
}
.checkboxItem label {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    color: #636363;
    margin-bottom: 0;
    height: 14px;
    line-height: 13px;
    top: 2px;
    left: 0;
}
.checkboxItem label:before{
    cursor: pointer;
    border: 1px solid #e2e3e5;
    width: 14px;
    height: 14px;
    background: #fff;
    content: '';
    display: inline-block;
    margin-top: -2px;
    margin-right: 6px;
    vertical-align: middle;
}
.checkboxItem label:after {
    width: 8px;
    height: 5px;
    left: 3px;
    top: 3px;
    cursor: pointer;
    background: transparent;
    opacity: 0;
    content: '';
    position: absolute;
    border: 1px solid #fa8919;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkboxItem input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.checkboxItem input[type=checkbox]:checked+label:before {
    border-color: #fa8919;
}
.rule-item{
    margin-bottom: 10px;
}
.del-rule{
    color: red;
    margin-right: 10px;
    font-size: 16px;
}
.rule-dims{
    margin-right: 10px;
}
.detail-area
{
    min-width: 750px;
    min-height: 80px;
    padding: 10px;
    background: #fcfcfc;
    border: #d6d5d4 1px solid;
    margin-top: 10px;
    margin-left: 26px;
}
#bd_DW_config_test{
    margin-right: 5px;
}