/*public*/
a {
    color: #59595a;
    text-decoration: none;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s
}
a:visited,a:active,a:focus,a:hover {
    text-decoration: none;
 }
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-left: 5px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 9px 5px;
}
.table{
    margin-bottom: 0;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml30{
    margin-left: 85px;
}
.mt5{
    margin-top: 5px;
}
.mt15{
    margin-top: 15px;
}
.mt30{
    margin-top: 30px;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}

.none{
    display: none;
}
.block{
    display: block;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td{
    border-bottom-width:1px;
}
/*card_management_list*/
.content .wrapper{
    background: #ecf0f5;
    padding: 20px;
}
.content .wrapper .component{
    border: 1px solid #e3ecfa;
    background: #fff;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    content: ">";
    font-family: FontAwesome;
}
.nav-tabs{
    background: #eaecf6;
}
.J-create{
    width: 170px;
    margin: 0 auto;
}
.create-card-btn{
    display: inline-block;
    float: right;
    margin: 4px 21% 5px 0;
}
.form-control{
    padding: 6px 3px;
}
.panel-body1{
    padding: 15px 0;
}
.time_order{
    display: inline-block;
}
/*card_management_create*/
.J-resource .well{
    background-color: #F4F6EA;
}
.element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.progress{
    display: inline-block;
}
.kv-upload-progress .progress{
    width: 100%;
}
#J_getChannelsInfo .content li{
    width: 250px;
    display: inline-block;
}
.modal li {
    list-style: none;
}
.modal .district li,.modal .version li{
    width: 150px;
    display: inline-block;
}
.modal .search{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.modal .search:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
#J_getChannelsName,#J_getVersionName{
    width: 100%;
    text-align: left;
    position: relative;
}
.content form input[type="file"]{
    width: 50%;
    display: inline-block;
}
.addcards .nav-tabs{
    border-bottom: none;
}
.tab-content{
    width: 100%;
}
.dataTables_paginate,.dataTables_info,.dataTables_length,.dataTables_filter{
    display: inline-block;
}
table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
table.dataTable tbody td{
    vertical-align: middle;
    word-break: break-all;
}
.pagination{
    display: block;
}
.fileinput-remove{
    display: none;
}
#selectCategory ul ul ul{
    max-height: 200px;
    overflow: scroll;
}
#selectCategory ul ul ul li{
    width: 230px;
    float: left;
}
@media screen and (max-width:1300px ){
    body,.btn,.form-control{
        font-size: 13px;
    }
    .sidebar-menu .treeview-menu>li>a{
        font-size: 12px;
    }
}
.table input[type="checkbox"]{
    margin-left: 5px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(fonts/glyphicons-halflings-regular.eot);
    src: url(fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(fonts/glyphicons-halflings-regular.woff) format('woff'),url(fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-file:before {
    content: "\f15b"
}
.invalid{
    border:1px solid #f00;
}
.star{
    color: #f00;
    font-size:20px;
    padding-left: 1px;
    vertical-align: middle;
}
.red{
    color: #f00;
}
.care{
    padding-left: 15px;
    padding-top: 10px;
    display: inline-block;
}
.loading{
    position: absolute;
    z-index: 1060;
    left:50%;
    top:30%;
    width: 300px;
    margin-left: -150px;
}
.moveTo{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.pageto{
    width: 105px;
    position: absolute;
    background: #3c8dbc;
    padding: 5px;
    z-index: 999;
}
.text-l{
    text-align: left;
}
.center{
    text-align: center;
    font-weight: bold;
    color: #000;
    font-family: "微软雅黑";
}
.mr30{
    margin-right: 30px;
}
.alls{
    height: 42px;
    overflow-y: auto;
    display:block;
}
.form-control1 {
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.well1{
    background: #fff;
    margin-top: 10px;
}
.table_style{border-right:1px solid #DCDCDC; border-bottom:1px solid #DCDCDC; border-collapse:collapse; margin-left:0px;}
.table_style td{ border-left:1px solid #DCDCDC; border-top:1px solid #DCDCDC; padding:6px 0;}
.table_style .td1{ text-align:center; background:#F5F5F5; }
.table_style .td2{ text-align:left; padding:6px 0 6px 10px; background:#FCFCFC;}
.table_style input{ height: 20px; width: 200px; padding:3px; border:1px solid #D8D1ED;}
.table_style textarea{width: 730px; padding:3px; border:1px solid #D8D1ED;height:80px;}
.table_style div.pane{float:left; margin:2px;}

#iframeMask{
    width: 100%;
    height:100%;
    background: url("../img/loading_page.gif") no-repeat center center rgba(0,0,0,0.2);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
}
.appAdd{
    border-top: 2px dashed #bcddff;
    margin-top: 15px;
    padding-top: 15px;
}